/*  css beautify font formatter */
p {
    font-family: Verdana;
    font-size: 18px;
    line-height: 1.5;
    /*line-height: 27px; 
    text-align: left;
    text-indent: 32px;
    text-decoration: line-through;
    letter-spacing: 2px;*/
}



