/*  css 權重 */

/* 都是 html tag，後面會蓋掉前面 */
p {
  color: red;
}
p {
  color: blue;
}

/* html tag 1 分，class 10 分 */
.box1 {
  color: blue;
}
.box2 {
  color: yellow;
}
/* 10+1=11 分 */
.header p {
  color: gray;
}
/* 10+10+1=21 分 */
.heder .menu li {
}

/* id: unique & 100 分 */
#footer {
  font-size: 99px;
  color: blue;
}
